<main>
  <section class="game-details" *ngIf="this.game == undefined">
    <header>
      <h3>Game not found!</h3>
    </header>
  </section>
  <section class="game-details" *ngIf="this.game !== undefined">
    <div class="game-row">
      <div class="game-row-item">
        <h3>{{this.game!.title}}</h3>
        <ul class="game-data">
          <li><strong>Title:</strong> {{this.game.title}}</li>
          <li><strong>Company:</strong> {{this.game.company}}</li>
          <li><strong>Ranking:</strong> {{this.game.ranking}}</li>
        </ul>
      </div>
      <div class="game-row-item">
        <figure class="game-figure">
          <img src="{{this.game.imageUri}}" title="{{this.game.title}}" alt="{{this.game.title}}" class="game-image" />
        </figure>
      </div>
    </div>
  </section>
</main>
