<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Ranking</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of this.games" (click)="this.onSelectHandler(game)">
        <td>
          <span title="{{game.id}}">
            {{game.id}}...
          </span>
        </td>
        <td>{{game.title}}</td>
        <td>{{game.ranking}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>
