<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>


    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h2>Sobre nosotros</h2>
          </div>
          <div class="content">
            <h3>Nuestra historia y objetivo</h3>
            <p>Grupo 2 nació el 30 de agosto de 1997 y es la segunda web de videojuegos
              más antigua en español, y la primera más antigua dedicada a las
              consolas. La web nació como proyecto personal y amateur de un
              adolescente de 15 años, pero un año después ya estaba consolidada como
              una de las principales fuentes de información de videojuegos de España.
              </p>
            <div class="button">
              <a>Leer más</a>
            </div>
          </div>
          <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="image-section">
          <img src="\assets\media\sobre-nosotros.jpg">
        </div>
      </div>
    </div>

  </body>
</html>
