.site-map{
  width: 100%;
}

.site-map > h4 {
  text-transform: uppercase;
}

.site-map-list{
  margin:0;
  padding: 0 0 0 18px;
}

.site-map-item{
  list-style-type: disclosure-closed;
  margin:15px auto;
}

.site-map-link{
  text-decoration: none;
  font-weight: bold;
}

.site-map-link:hover{
  text-decoration: underline;
}
