<div class="container">
  <span class="big-circle"></span>

  <div class="form">
    <div class="contact-info">
      <h3 class="title">Hablemos un rato</h3>
      <p class="text">
     ¡Estamos a tu disposición para cualquier duda sobre videojuegos!
      </p>

      <div class="info">
        <div class="information">

          <p>Calle de la piruleta, Murcia 29103</p>
        </div>
        <div class="information">

          <p>hola@grupo2.com</p>
        </div>
        <div class="information">

          <p>999-999-999</p>
        </div>
      </div>


    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form action="index.html" autocomplete="off">
        <h3 class="title">Contacta con nosotros</h3>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Nombre</label>
          <span>Nombre</span>
        </div>
        <div class="input-container">
          <input type="email" name="email" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" class="input" />
          <label for="">Teléfono</label>
          <span>Teléfono</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input"></textarea>
          <label for="">Mensaje</label>
          <span>Mensaje</span>
        </div>
        <input type="submit" value="Enviar" class="btn" />
      </form>
    </div>
  </div>
</div>
